<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MPA Sample Website-{{template "title" .}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/css/style.css" rel="stylesheet" />
    {{ template "styles"}}
    {{ template "scripts" . }}
  </head>
  <body>
  <header>
  <nav>
  <a href="/">Logo</a>
  <div>
      <a href="/" class="nav-link">Home</a>
      <a href="/countries/0/page" class="nav-link">Countries</a>
      <a href="/about" class="nav-link">About</a>
      </div>
  </nav>
  </header>
    <main>
      {{ template "body" .}} 
    </main>

  <script>
  (function(){
  window.addEventListener('load',() =>{
      const populationElements = document.querySelectorAll(".population") ||[]
      populationElements.forEach(e=>{
        e.innerText = parseInt(e.innerText).toLocaleString('us-US')
          })

      })
  })()
  </script>

<script>
(function(anchors, url, i, a) {
  while ((a = anchors[i++]) && a.classList)
    a.href === url  && a.classList.add('current');

}(document.getElementsByTagName('a'), location.href, 0))
</script>
  </body>
</html>
